---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/miketa-webprgr/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"41db31dddea4b464fdd8aebfc77270046f0ade6e2ce9ac27c1e94477afea085a"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      X-Ratelimit-Reset:
      - '1616437719'
      X-Ratelimit-Used:
      - '8'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "id": 313595631,
            "node_id": "MDEwOlJlcG9zaXRvcnkzMTM1OTU2MzE=",
            "name": "aws-study",
            "full_name": "miketa-webprgr/aws-study",
            "private": false,
            "owner": {
              "login": "miketa-webprgr",
              "id": 63532918,
              "node_id": "MDQ6VXNlcjYzNTMyOTE4",
              "avatar_url": "https://avatars.githubusercontent.com/u/63532918?v=4",
              "gravatar_id": "",
              "url": "https://api.github.com/users/miketa-webprgr",
              "html_url": "https://github.com/miketa-webprgr",
              "followers_url": "https://api.github.com/users/miketa-webprgr/followers",
              "following_url": "https://api.github.com/users/miketa-webprgr/following{/other_user}",
              "gists_url": "https://api.github.com/users/miketa-webprgr/gists{/gist_id}",
              "starred_url": "https://api.github.com/users/miketa-webprgr/starred{/owner}{/repo}",
              "subscriptions_url": "https://api.github.com/users/miketa-webprgr/subscriptions",
              "organizations_url": "https://api.github.com/users/miketa-webprgr/orgs",
              "repos_url": "https://api.github.com/users/miketa-webprgr/repos",
              "events_url": "https://api.github.com/users/miketa-webprgr/events{/privacy}",
              "received_events_url": "https://api.github.com/users/miketa-webprgr/received_events",
              "type": "User",
              "site_admin": false
            },
            "html_url": "https://github.com/miketa-webprgr/aws-study",
            "description": "awsの勉強のためにscaffoldをデプロイする",
            "fork": false,
            "url": "https://api.github.com/repos/miketa-webprgr/aws-study",
            "forks_url": "https://api.github.com/repos/miketa-webprgr/aws-study/forks",
            "keys_url": "https://api.github.com/repos/miketa-webprgr/aws-study/keys{/key_id}",
            "collaborators_url": "https://api.github.com/repos/miketa-webprgr/aws-study/collaborators{/collaborator}",
            "teams_url": "https://api.github.com/repos/miketa-webprgr/aws-study/teams",
            "hooks_url": "https://api.github.com/repos/miketa-webprgr/aws-study/hooks",
            "issue_events_url": "https://api.github.com/repos/miketa-webprgr/aws-study/issues/events{/number}",
            "events_url": "https://api.github.com/repos/miketa-webprgr/aws-study/events",
            "assignees_url": "https://api.github.com/repos/miketa-webprgr/aws-study/assignees{/user}",
            "branches_url": "https://api.github.com/repos/miketa-webprgr/aws-study/branches{/branch}",
            "tags_url": "https://api.github.com/repos/miketa-webprgr/aws-study/tags",
            "blobs_url": "https://api.github.com/repos/miketa-webprgr/aws-study/git/blobs{/sha}",
            "git_tags_url": "https://api.github.com/repos/miketa-webprgr/aws-study/git/tags{/sha}",
            "git_refs_url": "https://api.github.com/repos/miketa-webprgr/aws-study/git/refs{/sha}",
            "trees_url": "https://api.github.com/repos/miketa-webprgr/aws-study/git/trees{/sha}",
            "statuses_url": "https://api.github.com/repos/miketa-webprgr/aws-study/statuses/{sha}",
            "languages_url": "https://api.github.com/repos/miketa-webprgr/aws-study/languages",
            "stargazers_url": "https://api.github.com/repos/miketa-webprgr/aws-study/stargazers",
            "contributors_url": "https://api.github.com/repos/miketa-webprgr/aws-study/contributors",
            "subscribers_url": "https://api.github.com/repos/miketa-webprgr/aws-study/subscribers",
            "subscription_url": "https://api.github.com/repos/miketa-webprgr/aws-study/subscription",
            "commits_url": "https://api.github.com/repos/miketa-webprgr/aws-study/commits{/sha}",
            "git_commits_url": "https://api.github.com/repos/miketa-webprgr/aws-study/git/commits{/sha}",
            "comments_url": "https://api.github.com/repos/miketa-webprgr/aws-study/comments{/number}",
            "issue_comment_url": "https://api.github.com/repos/miketa-webprgr/aws-study/issues/comments{/number}",
            "contents_url": "https://api.github.com/repos/miketa-webprgr/aws-study/contents/{+path}",
            "compare_url": "https://api.github.com/repos/miketa-webprgr/aws-study/compare/{base}...{head}",
            "merges_url": "https://api.github.com/repos/miketa-webprgr/aws-study/merges",
            "archive_url": "https://api.github.com/repos/miketa-webprgr/aws-study/{archive_format}{/ref}",
            "downloads_url": "https://api.github.com/repos/miketa-webprgr/aws-study/downloads",
            "issues_url": "https://api.github.com/repos/miketa-webprgr/aws-study/issues{/number}",
            "pulls_url": "https://api.github.com/repos/miketa-webprgr/aws-study/pulls{/number}",
            "milestones_url": "https://api.github.com/repos/miketa-webprgr/aws-study/milestones{/number}",
            "notifications_url": "https://api.github.com/repos/miketa-webprgr/aws-study/notifications{?since,all,participating}",
            "labels_url": "https://api.github.com/repos/miketa-webprgr/aws-study/labels{/name}",
            "releases_url": "https://api.github.com/repos/miketa-webprgr/aws-study/releases{/id}",
            "deployments_url": "https://api.github.com/repos/miketa-webprgr/aws-study/deployments",
            "created_at": "2020-11-17T11:17:37Z",
            "updated_at": "2021-01-31T12:01:00Z",
            "pushed_at": "2021-01-31T12:00:58Z",
            "git_url": "git://github.com/miketa-webprgr/aws-study.git",
            "ssh_url": "git@github.com:miketa-webprgr/aws-study.git",
            "clone_url": "https://github.com/miketa-webprgr/aws-study.git",
            "svn_url": "https://github.com/miketa-webprgr/aws-study",
            "homepage": null,
            "size": 165,
            "stargazers_count": 0,
            "watchers_count": 0,
            "language": "Ruby",
            "has_issues": true,
            "has_projects": true,
            "has_downloads": true,
            "has_wiki": true,
            "has_pages": false,
            "forks_count": 0,
            "mirror_url": null,
            "archived": false,
            "disabled": false,
            "open_issues_count": 0,
            "license": null,
            "forks": 0,
            "open_issues": 0,
            "watchers": 0,
            "default_branch": "master"
          },
          {
            "id": 296273766,
            "node_id": "MDEwOlJlcG9zaXRvcnkyOTYyNzM3NjY=",
            "name": "bollingerband_notifier",
            "full_name": "miketa-webprgr/bollingerband_notifier",
            "private": false,
            "owner": {
              "login": "miketa-webprgr",
              "id": 63532918,
              "node_id": "MDQ6VXNlcjYzNTMyOTE4",
              "avatar_url": "https://avatars.githubusercontent.com/u/63532918?v=4",
        [...]
